<main class="main">
  <section class="top-nav-background">     
  
  </section>
  <section class="ribbon">
     <div class="ribbon-container flex flex-center">
        <span class="ribbon-copy font-white">
        From now until 21/10, get a gift card up to €140 when you buy Mac or iPad with education savings.
        <sup class="asterisk-link">
        <a href="#" class="ribbon-asterisk font-white">*</a>
        </sup>
        <a href="#" class="ribbon-links">Shop
        <span class="chevron">></span>
        </a>
        </span>
     </div>
  </section>
  <section class="iphone-16-pro">
     <div class="iphone-pro-container iphone-pro-img flex flex-column space-between">
        <div class="headline-wrapper flex flex-center">
           <h2 class="headline-lg headline-16-pro font-white">iPhone&nbsp;16 Pro</h2>
        </div>
        <div class="cta-links-large flex flex-center">
           <a href="#" class="btn btn-solid">Learn more</a>
           <a href="#" class="btn btn-transparent">Buy</a>
        </div>
     </div>
  </section>
  <div class="grid-gap"></div>
  <section class="iphone-16">
     <div class="iphone-16-container iphone-16-img flex flex-column space-between">
        <div class="headline-wrapper flex flex-center">
           <h2 class="headline-lg font-white">iPhone&nbsp;16</h2>
        </div>
        <div class="cta-links-large flex flex-center">
           <a href="#" class="btn btn-solid">Learn more</a>
           <a href="#" class="btn btn-transparent">Buy</a>
        </div>
     </div>
  </section>
  <div class="grid-gap"></div>
  <section class="apple-watch">
     <div class="apple-watch-container  flex align-center flex-column apple-watch-img">
        <div class="watch-logo-wrapper pt-48">
           <img src="https://www.apple.com/v/home/br/images/logos/apple-watch-series-10/hero_logo_apple_watch_series_10__dla4dkv1wfue_large.png" alt="">
        </div>
        <p class="subhead-lg">Thinstant classic.</p>
        <div class="cta-links flex flex-center">
           <a href="#" class="btn btn-solid">Learn more</a>
           <a href="#" class="btn btn-transparent">Buy</a>
        </div>
     </div>
  </section>
  <section class="grid-container animate-fade-in" id="gridContainer">

  <!--- Grid-1 ---->
  <section class="apple-watch-ultra">
     <div class="grid grid-1">
        <div class="apple-ultra-logo-wrapper text-center">
           <img class="apple-ultra-logo" src="https://www.apple.com/v/home/br/images/logos/apple-watch-ultra-2/promo_logo_apple_watch_ultra2__ggg2x39rsvqu_large.png" alt="">
        </div>
        <div class="subhead-container">
           <p class="subhead text-center font-white">New finish. Never quit.</p>
        </div>
        <div class="cta-links cta-links-small flex flex-center">
           <a href="#" class="btn btn-solid btn-small">Learn more</a>
           <a href="#" class="btn btn-transparent btn-small">Buy</a>
        </div>
     </div>
  </section>
  <!--- Grid-2 ---->
  <section class="airpods-4">
     <div class="grid grid-2">
        <div class="grid-2-copy-wrapper font-white">
           <h3 class="headline text-center">AirPods&nbsp;4</h3>
           <p class="subhead subhead-airpods-4 text-center">Iconic. Now supersonic. Available with Active Noise Cancellation.<sup class="footnote">1</sup></p>
           <div class="cta-links cta-links-small airpods-4-cta-links flex flex-center">
              <a href="#" class="btn btn-solid btn-small">Learn more</a>
              <a href="#" class="btn btn-transparent btn-small">Buy</a>
           </div>
        </div>
     </div>
  </section>
  <!--- Grid-3 ---->
  <section class="airpods-max">
     <div class="grid grid-3">
        <div class="grid-3-copy-wrapper  font-black">
           <h3 class="headline text-center">AirPods&nbsp;Max</h3>
           <p class="subhead">Symphonic Boom</p>
           <div class="cta-links cta-links-small flex flex-center">
              <a href="#" class="btn btn-solid btn-small">Learn more</a>
              <a href="#" class="btn btn-transparent btn-small">Buy</a>
           </div>
        </div>
     </div>
  </section>
  <!--- Grid-4 ---->
  <section class="macbook-air">
     <div class="grid grid-4 macbook-air-container">
        <div class="grid-4-copy-wrapper font-black">
           <h3 class="headline mt-44 ">MacBook&nbsp;Air</h3>
           <p class="subhead">Lean. Mean. M3 Machine</p>
           <div class="cta-links cta-links-small airpods-card-links flex flex-center">
              <a href="#" class="btn btn-solid btn-small">Learn more</a>
              <a href="#" class="btn btn-transparent btn-small">Buy</a>
           </div>
        </div>
     </div>
  </section>
  <!--- Grid-5 ---->
  <section class="ipad-pro">
     <div class="grid grid-5">
        <div class="grid-5-copy-wrapper font-white">
           <h4 class="headline mt-44 text-center">iPad&nbsp;Pro</h4>
           <h3 class="subhead">Unbelievably thin. Incredibly&nbsp;powerful.</h3>
           <div class="cta-links cta-links-small flex flex-center">
              <a href="#" class="btn btn-solid btn-small">Learn more</a>
              <a href="#" class="btn btn-transparent btn-small">Buy</a>
           </div>
        </div>
     </div>
  </section>
  <!--- Grid-6 ---->
  <section class="trade-ins">
     <div class="grid grid-6">
        <div class="grid-6-copy-wrapper">
           <div class="trade-in-logo">
              <img src="https://www.apple.com/v/home/br/images/logos/iphone-tradein/promo_logo_iphone_tradein__7y3gtai5az66_large.png" alt="">
           </div>
           <div class="subhead-container">
              <p class="subhead subhead-trade-in font-black text-center">Get €130–€585 in credit when you trade in iPhone 12 or higher.
                 <sup class="footnote">2</sup>
           </div>
           <div class="cta-links cta-links-small flex flex-center">
              <a href="#" class="btn btn-solid btn-small">Get your estimate</a>
           </div>
        </div>
     </div>
  </section>

</section>

</main>
