<section class="account-page">


<div class="top-section">
  <div class="header">
    <h1>Hesap</h1>
    <a href="#" class="logout">Oturumu kapat ›</a>
  </div>
  <div class="divider"></div>
  <div class="greeting">Merhaba {{authService.user()?.username}} </div>
</div>

<div class="bottom-section">
  <div class="section-title">Aygıtlarınız</div>
</div>


<div class="container">
  <div class="phone-card">
      <div class="phone-image"></div>
  </div>
  <div class="phone-text">
      <h1 class="brand">iPhone</h1>
      <h3 class="model">iPhone 13</h3>
      <p><a href="#">Destek alın</a></p>
  </div>
</div>
<div class="footer-text">
  Aygıtınızı burada görünmüyor musunuz? Aygıt bağlamak veya değişiklik yapmak için <a href="#">Apple Hesabınız ayarlarınız</a>.
</div>

</section>
