
<!-- <section class="welcome">
    <h1>Shop for your favorite Apple products.</h1>
  </section> -->







  <main id="main" class="main" role="main" data-page-type="overview">
    <section class="section-hero theme-dark-lite" data-analytics-section-engagement="name:hero">
      <div class="section-content">
        <picture id="overview-hero-hero-1" class="overview-hero-hero loaded" data-lazy-load="true" data-picture-loaded="">
          <source srcset="/v/home/hi/images/overview/hero/hero__x15fcac9fw2q_small.jpg, /v/home/hi/images/overview/hero/hero__x15fcac9fw2q_small_2x.jpg 2x" media="(max-width:734px)">
          <source srcset="/v/home/hi/images/overview/hero/hero__x15fcac9fw2q_medium.jpg, /v/home/hi/images/overview/hero/hero__x15fcac9fw2q_medium_2x.jpg 2x" media="(max-width:1068px)">
          <source srcset="/v/home/hi/images/overview/hero/hero__x15fcac9fw2q_large.jpg, /v/home/hi/images/overview/hero/hero__x15fcac9fw2q_large_2x.jpg 2x" media="(max-width:1440px)">
          <source srcset="https://www.apple.com/v/home/hi/images/overview/hero/hero__x15fcac9fw2q_xlarge.jpg, /v/home/hi/images/overview/hero/hero__x15fcac9fw2q_xlarge_2x.jpg 2x" media="(min-width:0px)">
          <img src="https://www.apple.com/v/home/hi/images/overview/hero/hero__x15fcac9fw2q_xlarge.jpg" alt="">
        </picture>
        <div class="copy-container">
          <h2 class="headline">Güç, iki, bir.</h2>
          <h3 class="subhead" role="presentation">Karşınızda M1 Pro veya M1 Max <br class="large">çip seçenekleriyle yeni MacBook Pro. <br class="large"><br class="medium">Ve yepyeni AirPods.</h3>
          <div class="cta-links">
            <a class="button control" href="/tr/apple-events/october-2021/" target="_self" data-analytics-title="watch the event" aria-label="Etkinliği İzleyin">Etkinliği İzleyin</a>
          </div>
        </div>
      </div>
    </section>




    <section class=" macbookContainer " >
      <div>
        <div class="Macbook-content">
          <div class="unit-wrapper">
            <a class="unit-link" href=""></a>
            <div class="unit-image-wrapper">
              <h2 class="headline">MacBook Air</h2>
              <p class="subhead">Lean. Mean. M3 Machine</p>
              <div class="cta-links">
                <a class="button primary" href="">Learn More</a>
                <a class="button secondary" href="">Buy</a>
              </div>
            </div>
            <div class="unit-copy-wrapper">
              <figure class="unit-image-macbook-air-m3"></figure>
            </div>
          </div>
        </div>
      </div>
    
    </section>



  
    <section class="section section-macbook-pro animate-fade-in"  id="macbookContainer"  
    data-analytics-section-engagement="name:macbook-pro" data-component-list="macbookPro" 
    data-anim-scroll-group="macbookPro"
    >
      <div class="section-content">
        <div class="inline-video-wrapper">
          <figure class="inline-video-start-frame" style="display: none;"></figure>
          <figure class="inline-video-end-frame fade-in" style="opacity: 1;"></figure>
        </div>
        <div class="copy-container">
          <h2 class="headline">MacBook Pro</h2>
          <h3 class="subhead" role="presentation">Süper güçlü bir Pro. <br class="small">M1 Pro veya M1 Max çiple <br class="large"><br class="small">olağanüstü bir performans. <br class="small">Muhteşem bir pil ömrü. <br class="large"><br class="small">Ve 14 inç ya da 16 inç <br class="small">Liquid Retina XDR ekran.</h3>
          <div class="cta-links">
            <a class="button control" href="/tr/macbook-pro-14-and-16/" target="_self" data-analytics-title="learn more about macbook pro" aria-label="MacBook Pro hakkında daha fazla bilgi edinin">Daha Fazla Bilgi</a>
            <a class="button control" href="/tr/shop/goto/buy_mac/macbook_pro_14" target="_self" data-analytics-title="order macbook pro" aria-label="MacBook Pro siparişi verin">Ön Sipariş</a>
          </div>
        </div>
      </div>
    </section>




  




  </main>
  




